<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.newtours.tests.BookFlightTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>findFlightTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registrationConfirmationTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registrationPageTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>flightDetailsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
