<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>book flight module</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="616072">  <td>21/10/02 00:04:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookFlightTest.findFlightTest()[pri:0, instance:com.newtours.tests.BookFlightTest@6e3c1e69]">findFlightTest</td> 
  <td>TestNG-tests-1@781945188</td>   <td></td> </tr>
<tr bgcolor="616072">  <td>21/10/02 00:05:09</td>   <td>13676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookFlightTest.findFlightTest()[pri:0, instance:com.newtours.tests.BookFlightTest@5a39699c]">findFlightTest</td> 
  <td>TestNG-tests-2@1414186895</td>   <td></td> </tr>
<tr bgcolor="616072">  <td>21/10/02 00:04:53</td>   <td>-1862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookFlightTest.flightDetailsTest(java.lang.String)[pri:0, instance:com.newtours.tests.BookFlightTest@6e3c1e69]">flightDetailsTest</td> 
  <td>TestNG-tests-1@781945188</td>   <td></td> </tr>
<tr bgcolor="616072">  <td>21/10/02 00:05:07</td>   <td>12095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookFlightTest.flightDetailsTest(java.lang.String)[pri:0, instance:com.newtours.tests.BookFlightTest@5a39699c]">flightDetailsTest</td> 
  <td>TestNG-tests-2@1414186895</td>   <td></td> </tr>
<tr bgcolor="879365">  <td>21/10/02 00:04:57</td>   <td>2297</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.newtours.tests.BookFlightTest@6e3c1e69]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@781945188</td>   <td></td> </tr>
<tr bgcolor="879365">  <td>21/10/02 00:05:11</td>   <td>15976</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.newtours.tests.BookFlightTest@5a39699c]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1414186895</td>   <td></td> </tr>
<tr bgcolor="616072">  <td>21/10/02 00:04:52</td>   <td>-3373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookFlightTest.registrationConfirmationTest()[pri:0, instance:com.newtours.tests.BookFlightTest@6e3c1e69]">registrationConfirmationTest</td> 
  <td>TestNG-tests-1@781945188</td>   <td></td> </tr>
<tr bgcolor="616072">  <td>21/10/02 00:05:06</td>   <td>10905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookFlightTest.registrationConfirmationTest()[pri:0, instance:com.newtours.tests.BookFlightTest@5a39699c]">registrationConfirmationTest</td> 
  <td>TestNG-tests-2@1414186895</td>   <td></td> </tr>
<tr bgcolor="616072">  <td>21/10/02 00:04:47</td>   <td>-8236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookFlightTest.registrationPageTest(java.lang.String)[pri:0, instance:com.newtours.tests.BookFlightTest@6e3c1e69]">registrationPageTest</td> 
  <td>TestNG-tests-1@781945188</td>   <td></td> </tr>
<tr bgcolor="616072">  <td>21/10/02 00:05:01</td>   <td>5929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookFlightTest.registrationPageTest(java.lang.String)[pri:0, instance:com.newtours.tests.BookFlightTest@5a39699c]">registrationPageTest</td> 
  <td>TestNG-tests-2@1414186895</td>   <td></td> </tr>
<tr bgcolor="879365">  <td>21/10/02 00:04:39</td>   <td>-15720</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setupDriver()[pri:0, instance:com.newtours.tests.BookFlightTest@5a39699c]">&gt;&gt;setupDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1414186895</td>   <td></td> </tr>
<tr bgcolor="879365">  <td>21/10/02 00:04:39</td>   <td>-15720</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setupDriver()[pri:0, instance:com.newtours.tests.BookFlightTest@6e3c1e69]">&gt;&gt;setupDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@781945188</td>   <td></td> </tr>
</table>
