<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>search module</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="879365">  <td>21/10/02 00:04:46</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.searchmodule.tests.SearchTest@6e3c1e69]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1784662007</td>   <td></td> </tr>
<tr bgcolor="879365">  <td>21/10/02 00:04:52</td>   <td>6433</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.searchmodule.tests.SearchTest@7dc36524]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1784662007</td>   <td></td> </tr>
<tr bgcolor="879365">  <td>21/10/02 00:04:58</td>   <td>11887</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.searchmodule.tests.SearchTest@1134affc]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1784662007</td>   <td></td> </tr>
<tr bgcolor="879365">  <td>21/10/02 00:05:02</td>   <td>16544</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.searchmodule.tests.SearchTest@6bdf28bb]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1784662007</td>   <td></td> </tr>
<tr bgcolor="879365">  <td>21/10/02 00:05:07</td>   <td>20951</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.searchmodule.tests.SearchTest@4c203ea1]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1784662007</td>   <td></td> </tr>
<tr bgcolor="616072">  <td>21/10/02 00:04:42</td>   <td>-3653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTest.searchFor(java.lang.String)[pri:0, instance:com.searchmodule.tests.SearchTest@6e3c1e69]">searchFor</td> 
  <td>main@1784662007</td>   <td></td> </tr>
<tr bgcolor="616072">  <td>21/10/02 00:04:47</td>   <td>1016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTest.searchFor(java.lang.String)[pri:0, instance:com.searchmodule.tests.SearchTest@7dc36524]">searchFor</td> 
  <td>main@1784662007</td>   <td></td> </tr>
<tr bgcolor="616072">  <td>21/10/02 00:04:54</td>   <td>7941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTest.searchFor(java.lang.String)[pri:0, instance:com.searchmodule.tests.SearchTest@1134affc]">searchFor</td> 
  <td>main@1784662007</td>   <td></td> </tr>
<tr bgcolor="616072">  <td>21/10/02 00:04:59</td>   <td>12833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTest.searchFor(java.lang.String)[pri:0, instance:com.searchmodule.tests.SearchTest@6bdf28bb]">searchFor</td> 
  <td>main@1784662007</td>   <td></td> </tr>
<tr bgcolor="616072">  <td>21/10/02 00:05:03</td>   <td>17278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTest.searchFor(java.lang.String)[pri:0, instance:com.searchmodule.tests.SearchTest@4c203ea1]">searchFor</td> 
  <td>main@1784662007</td>   <td></td> </tr>
<tr bgcolor="879365">  <td>21/10/02 00:04:39</td>   <td>-6369</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setupDriver()[pri:0, instance:com.searchmodule.tests.SearchTest@6e3c1e69]">&gt;&gt;setupDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1784662007</td>   <td></td> </tr>
<tr bgcolor="879365">  <td>21/10/02 00:04:46</td>   <td>155</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setupDriver()[pri:0, instance:com.searchmodule.tests.SearchTest@7dc36524]">&gt;&gt;setupDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1784662007</td>   <td></td> </tr>
<tr bgcolor="879365">  <td>21/10/02 00:04:52</td>   <td>6564</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setupDriver()[pri:0, instance:com.searchmodule.tests.SearchTest@1134affc]">&gt;&gt;setupDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1784662007</td>   <td></td> </tr>
<tr bgcolor="879365">  <td>21/10/02 00:04:58</td>   <td>12162</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setupDriver()[pri:0, instance:com.searchmodule.tests.SearchTest@6bdf28bb]">&gt;&gt;setupDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1784662007</td>   <td></td> </tr>
<tr bgcolor="879365">  <td>21/10/02 00:05:02</td>   <td>16657</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setupDriver()[pri:0, instance:com.searchmodule.tests.SearchTest@4c203ea1]">&gt;&gt;setupDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1784662007</td>   <td></td> </tr>
</table>
